<div class = 'main_form'>
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class = 'field'>
		<%= f.label :password %><br />
		<%= f.password_field :email %>
	</div>
	
	<div class = 'field'>
		<%= f.hidden_field :password %>
	</div>
	
	<div class = 'actions'>
		<%= f.submit "Sign in" %>
	</div>
<% end %>
</div>
<p class = 'signing' >New User? <%= link_to "Sign up now!", join_path %></p>