
<h4 class = 'edit_title'>User Data:</h4>
<div class = 'main_form'>
	
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 


	<div>
		<span>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		</span>
		<%= f.text_field :name %>
	</div>
	
	<div>
			<span>Password:&nbsp;&nbsp;</span>
			<span><%= f.text_field :email %></span>
	</div>
	
	<div>
		<%= f.hidden_field :password %>
	</div>

	<div class = 'nation_selector' >
		<span>Nation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<%= f.select :nation, options_for_select([["England", 'england'], ['France', 'france'], 		['Germany', 'germany'], ['Italy', 'italy'], ['Russia', 'russia'], ['Austria', 'austria'], 			['Turkey', 'turkey']], @user.nation) %>
	</div>

	<div>
		<span><%= f.submit "Edit"%></span>
	</div>

<% end %>

</div>


<%# unless @edit_count == 1 %>
<div class = 'color_swatch'>
	<fieldset>
	<legend>Favorite Color:</legend>
	<ul>
		<li class = 'red_li'><%= link_to "Infra-Red", { :color => '#711414'} %></li>
		<li class = 'pink_li'><%= link_to "Hot Pink", { :color => '#FF3399'} %></li>
		<li class = 'orange_li'><%= link_to "Orange", { :color => '#FF9900'} %></li>
		<li class = 'yellow_li'><%= link_to "Saffron", { :color => '#ffc900'} %></li>
		<li class = 'green_li'><%= link_to "Olive Green", { :color => '#297C29'} %></li>
		<li class = 'cyan_li'><%= link_to "Cyan", { :color => '#45B8FF'} %></li>
		<li class = 'indigo_li'><%= link_to "Indigo", { :color => '#0000CC'} %></li>
		<li>
	<div>
		<form>Or...<input type="color" name="color" value = '#000000'><br>
  		<input type="submit">
		</form>
	</div></li>

	</ul>
	
</fieldset>
</div>
<%# end %>