
<h4 class = 'edit_title'>User Data:</h4>
<div class = 'main_form'>
	
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 


	<div>
		<span>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		</span>
		<%= f.text_field :name %>
	</div>
	
	<div>
			<span>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;</span>
			<span class = 'email_field'><%= f.text_field :email %></span>
	</div>
	
	<div>
		<span>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<%= f.password_field :password %>
	</div>

	<div>
		<span>Confirmation:&nbsp;&nbsp;</span>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class = 'nation_selector' >
		<span>Nation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<%= f.select :nation, options_for_select([["England", 'england'], ['France', 'france'], 		['Germany', 'germany'], ['Italy', 'italy'], ['Russia', 'russia'], ['Austria', 'austria'], 			['Turkey', 'turkey']], @user.nation) %>
	</div>

	<div>
		<span><%= f.submit "Edit"%></span>
	</div>

<% end %>

</div>


<% unless @edit_count == 1 %>
<div class = 'color_swatch'>
	<h4>Favorite Color:</h4>
	<ul>
		<li class = 'red_li'><%= link_to "Red", { :color => 'FF0000'} %></li>
		<li class = 'pink_li'><%= link_to "Hot Pink", { :color => 'FF3399'} %></li>
		<li class = 'orange_li'><%= link_to "Orange", { :color => 'FF9900'} %></li>
		<li class = 'yellow_li'><%= link_to "Yellow", { :color => 'FFFF00'} %></li>
		<li class = 'green_li'><%= link_to "Green", { :color => '297C29'} %></li>
		<li class = 'cyan_li'><%= link_to "Cyan", { :color => '45B8FF'} %></li>
		<li class = 'indigo_li'><%= link_to "Indigo", { :color => '0000CC'} %></li>
	</ul>
	<p>hi</p>
</div>
<% end %>