<div class = 'main_form'>
	
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 
<div>

<div>
	<span><%= f.label :name, "Name:" %></span>
	<span style = 'position:relative;left:28px'><%= f.text_field :name %></span>
</div>

<div>
	<span><%= f.label :email, "E-mail:" %></span>
	<span style = 'position:relative;left:25px'><%= f.text_field :email %></span>
</div>

<div>
	<span><%= f.label :password, "Password:" %></span>
	<span><%= f.password_field :password %></span>
</div>
<div>
	<span><%= f.label :password_confirmation, "Confirmation:" %></span>
	<%= f.password_field :password_confirmation %>
</div>

<div class = 'nation_selector' >
	<span>Nation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= f.select :nation, options_for_select([["England", 'england'], ['France', 'france'], ['Germany', 'germany'], ['Italy', 'italy'], ['Russia', 'russia'], ['Austria', 'austria'], ['Turkey', 'turkey']], @user.nation) %>
</div>

<div>
	<span><%= f.submit "Join"%></span>
</div>
</div>
<% end %>

</div>