<div class = 'main_form'>
	
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 


<div>
	<span>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= f.text_field :name %>
</div>

<div>
	<span>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span class = 'email_field'><%= f.text_field :email %></span>
</div>

<div>
	<span>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= f.password_field :password %>
</div>

<div>
	<span>Confirmation:&nbsp;&nbsp;</span>
	<%= f.password_field :password_confirmation %>
</div>

<div class = 'nation_selector' >
	<span>Nation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= f.select :nation, options_for_select([["England", 'england'], ['France', 'france'], ['Germany', 'germany'], ['Italy', 'italy'], ['Russia', 'russia'], ['Austria', 'austria'], ['Turkey', 'turkey']], @user.nation) %>
</div>

<div>
	<span><%= f.submit "Join"%></span>
</div>

<% end %>

</div>