





<div class = 'user_bio'>
	<% if User.find_by_id(params[:id]).bio %>
	<p><%= "''#{User.find_by_id(params[:id]).bio}''"%><div><%=" -- #{User.find_by_id(params[:id]).name}" %></div></p>
	<% else %>
	<p>This user has not yet written their bio.</p>
	<% end %>
</div>



<% if right_user? %>



<div class = 'main_form bio_form'>
	
	<%= form_for current_user, :url => bio_path(current_user) do |f| %>
		
		<%= f.text_area :bio, cols: area_cols, rows: area_rows, placeholder: 'How others can defeat you...', value: current_user.bio %>
		
		<%= f.submit "Submit" %>
		
	<% end %>
	
</div>
	
<div class = "mainflag">
	<%= image_tag("../images/flags/large/#{@user.nation}.jpeg") %>
</div>





<% else %>





<ul class = 'index_of_units'>
	
<%= render @units %> 
</ul>

<% end %>