
	<% if params[:controller] == 'pages' && params[:action] == 'home' %>
    
    
    
        <% if unit.location %>
            <li class = 'unit_list_item' style = "
			background-image: linear-gradient(top, #bbb 0%, 
			<%= darken(inverse(darken(inverse(title_color)))) %> 20%);
			background-image: -o-linear-gradient(top, #bbb 0%, 
			<%= darken(inverse(darken(inverse(title_color))))  %> 20%);
			background-image: -moz-linear-gradient(top, #bbb 0%, 
			<%= darken(inverse(darken(inverse(title_color)))) %> 20%);
			background-image: -webkit-linear-gradient(top, #bbb 0%, 
			<%= darken(inverse(darken(inverse(title_color))))  %> 20%);
			background-image: -ms-linear-gradient(top, #bbb 0%,
			 <%= darken(inverse(darken(inverse(title_color))))  %> 20%);
			background-image: -webkit-gradient( radius, left top, left bottom, color-stop(0, #bbb), 			color-stop(0.20, <%= darken(inverse(title_color)) %>));">
	           	<%= link_to({:controller => 'units', :action => 'edit', :id => unit.id}, :class => 'no_format') do %>
	           	
	           		<div class = 'image_div'>
	           			<%= image_tag("#{unit.kind}.png") %>
	           		</div>
	           		
	           		<div class = 'non_image_div'>
	           			<h1><%= unit.location.capitalize %></h1>
	           			<p>This unit is <%= army_format(unit.army?) << ' ' << unit.kind %> .<p>
	           		</div>
	           		
	           	<% end %>
                <% if too_many_units? %>
                <%= button_to "Destroy", unit_path(unit), :confirm => "Are you certain you want to destroy this unit?", :method => :delete %>
                <% end %>
            
	            </li>
        <% end %>
        
        
        
	<% elsif params[:controller] == 'pages' && params[:action] == 'map' %>
	
    
    
		
	<div class = "unit" title = "<%= tooltip(unit) %>" style = "<%= coordinates(unit.location) %> <%= delays(unit) %> " >
			
			<div class = 'unit-1' style = "<%= unit_styles(unit) %>"></div>
			<div class = 'unit-2' style = "<%= unit_styles(unit) %>"></div>
			
	</div>
	
    
    
	<% else %>
    
	</li>
	<div>
		<hr />
		<% if unit.location %>
			<h1><%= unit.location.capitalize %> -</h1>
			<p><%= @user.name %> has 1 <%= unit.kind %> in <%= unit.location.capitalize %>.<p>
		<% else %>
			<h1>Unplaced Unit</h1>
			<p><%= @user.name %> has 1 unplaced unit.</p>
		<% end %>
	</div>
	</li>
    
    
	<% end %>
