
<h1 class = 'move_title'><%= @unit.location.capitalize %> — <%= @unit.kind.capitalize %></h1>


<div class = 'main_form'>
	
<%= form_for @unit do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 


	<div>
		<%= f.label :destination, "Destination:" %>
		<%= f.select(:destination, options_for_select( selectify( @unit.surroundings ),
                destify(@unit) ) ) %>
	</div>
	<div>
		<%= f.label "Check if intended as support:" %>
		<%= f.check_box :support? %>
	</div>
	<div>
		<span><%= f.submit "Move"%></span>
	</div> 

<% end %>

</div>
