


<% if params[:master] %>

<div class = 'main_form'>
	
<%= form_for @unit do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 


<div>
	<%= f.label :location, 'Location:' %>
	<%= f.select :location, options_for_select( selectify( regions.keys ) ) %>
</div>
<br />
<div>
	<%= f.label :kind, 'Kind:' %>
	<%= f.select :kind, options_for_select( selectify( ['fleet', 'army'] ) ) %>
</div>
<br />
<div>
	<%= f.label :user_name, 'User:' %>
	<%= f.text_field :user_name %>
</div>

<br />
<div>
	<span><%= f.submit "Create"%></span>
</div>

<% end %>

</div>

<% else %>

<h1 style='color:red;font-size:100px;background:black;height:500px;padding:100px'>CLASSIFIED<h1>

<% end %>