<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "/style/master.css" %>
  <link rel="stylesheet" href="../../../jquery-ui/css/sparkle/ui.css" />
  <link rel="stylesheet" href="../../../jquery-ui/css/sparkle/jquery-ui-1.10.3.custom.css" />
  <style> 
  
  .maintitle {
	  background-color: <%= title_color %>;
  }
  
  .maintitle a:hover {
	  color: <%= lighten(inverse(title_color, 0.8)) %>;
  }
  
  </style>
</head>

<% if @title == 'Map' %><body class = 'map_body'><% else %><body class = 'mainbody'><% end %>
	
	<div class = 'page'>
	<div class = 'maintitle'>
		<span><% if params[:action] == 'home' %><h2 id = 'headinger'><% else %><h2><% end %><%= @heading %></h2>
		<ul class = 'mainnav'>
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "Map", "/map" %></li>
			<li><%= link_to "Players", "/players" %></li>
			<% if signed_in? %>
			<li><%= link_to "DiploMail", "/messages"%></li>
             <!--<li id = 'moveb'><%= link_to "Move", "#" %></li>-->
			<li><%= link_to "Settings", "/users/#{current_user.id}/edit"%></li>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Sign in", signin_path, :method => :delete %></li>
			<% end %>
		</ul>
		<% if signed_in? && current_user.new_messages.count > 0 %>
		<div class ='new_messages' style = "background:<%= inverse(title_color) %>"><%= current_user.new_messages.count %></div>
		<% end %></span>
		
	</div>
	<div class = 'primary' >
        
        <% if signed_in? %>
        <div class = 'date'><p><%= Year.first.date %></p>
        </div>
        <% end %>
        
		
		<% if @title == 'Map' %><div class = 'maintitle toptitle'>
			<span><h2><%= @heading %></h2>
			<ul class = 'mainnav'>
				<li><%= link_to "Home", "/" %></li>
				<li><%= link_to "Map", "/map" %></li>
				<li><%= link_to "Players", "/players" %></li>
				<% if signed_in? %>
				<li><%= link_to "DiploMail", "/messages"%></li>
                 <!--<li id = 'moveb'><%= link_to "Move", "#" %></li>-->
				<li><%= link_to "Settings", "/users/#{@current_user.id}/edit"%></li>
				<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
				<% else %>
				<li><%= link_to "Sign in", signin_path, :method => :delete %></li>
				<% end %>
			</ul></span>
		</div><% end %>
		
		<% flash.each do |key, value| %>
		<div class = "flash_<% key %>">
			<p><%= value %></p>
		</div>    
		
		
		<% end %>
		
		<%= yield %>
		
		<%# debug(params) if Rails.env.development? %>
		<%# params if Rails.env.development? %>
        
    
        <% if params[:evil] =~ /true|themostsecretive|evil/i && params[:action] == 'home' %>
        <button id = 'secret' style = 'margin:50px;background:black;color:red;font-size:40px;border-radius:20px;-webkit-border-radius:20px;' type = 'button' \>The Secret</button>
        <% end %>
        
	    </div>
       
        <% if params[:action] == 'home' %>
       <div id = 'devil' style = 'opacity:0;display:none;position:fixed;top:200px;right:30%;width:40%;max-width:480px;z-index:0;'><img style = 'width:100%' src = '/images/devil.png'></div>
	   <% end %>
        
    
	<div id="footer">
		<p>Copywrite 2013, Charles Chamberlain, All Rights Reserved</p>
    </div>
    
    
	</div>
	

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../../../jquery-ui/js/jquery-1.9.1.js"></script>
    <script src="../../../jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="../../../burn.js"></script>

    <script type="text/javascript" src="../../../assets/pages.js"></script>
	
    <script>
     $(function() {
       $('.unit').tooltip()
       $( "#dialog" ).dialog();
  	 $( ".unit" ).draggable();
  	 $(".pop").smallipop();
       $('.map_div img').on('dragstart', function(event) { event.preventDefault(); });
     });
    </script>
	
</body>
</html>
